{% extends "apidoc_base.html" %}
{% from "apidoc_base.html" import namespace_nav with context %}
{% from "macros.html" import doc_list with context %}

{% block title %}{{sig}} - {{ settings.docs[lang.id].name }}{% endblock %}



{% set parts = sig.split('::') %}

{% block nav %}
<h2 class="enum">
{% for name in parts[:-1] %}<a href="{{ '../' * ((parts|length) - loop.index) }}">{{ name }}</a>{% if not loop.last %}:: {% endif %}{% endfor %}
</h2>

{{ namespace_nav("../") }}

{% endblock %}


{% block body %}
<h1 class="cenum">
# if lang.id == "c"
Enum <i>{{ name }}</i>
# else
Enum {% for name in parts %}{% if loop.last %}<i>{{ name }}</i>{% else %}<a href="{{ '../' * ((parts|length) - loop.index) }}">{{ name }}</a>::{% endif %}{% endfor %}
# endif
</h1>

{{ brief|docstr(id) }}
{{ detailed|docstr(id) }}

{{ doc_list(enum_values, "Values") }}

{% endblock %}
