{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block style %}{{ style.site }}{% if has_code %}{{ style.highlight }}{{ style.tabbed_code }}{% endif %}{% endblock %}


{% block header %}
<a href="/"><img src="/img/logo.svg" alt="Lib2D" width="129" height="62"></a>
{% endblock %}

{% block nav %}
<ul>
    <li><a href="/docs/">Documentation</a></li>
    <li><a href="https://bitbucket.org/jlm/lib2d">Source</a></li>
</ul>
{% endblock %}

{% block main %}{{ content }}{% endblock %}
{% block end %}
<link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono|Francois+One|Open+Sans&display=swap" rel="stylesheet">
{% endblock %}
