html, body, div, span,
h1, h2, h3, h4, h5, h6, p, pre,
a, abbr, code,
em, img, q, s,
b, u, i,
dl, dt, dd, ol, ul, li,
label,
header,
nav,
menu
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
header, nav, main {
	display: block;
}
