@import "clear";
@import "vars";
@import "highlight";

menu {
    padding:4px 0 13px;
    text-align:right;
    a {
        background:#f9f9f9;
        padding:7px 13px;
    }
}

em {
    font-style: italic;
}
h1, h2, h3, h4, h1 a, h2 a, h3 a, h4 a, h1 i, h2 i, h3 i, a, .class, .icon {
    font-family: "Fira Sans", sans-serif;
}
h1, h2, h3 {
    border-bottom:1px solid #ddd;
}
h4 {
    color: @ns;
    font-size:20px;
    margin:12px 0;
}
h1 a, h2 a, h3 a {
    color:black;
    text-decoration: none;
}
a {
    text-decoration:none;
    color:#2A6496;
}
a:hover {
    text-decoration:underline;
}
code, code a, pre, dt, dt a {
    font-family: "Source Code Pro", monospace;
}
pre {
    padding:10px 17px;
    background:#f5f5f5;
    overflow:auto;
}
code {
    padding:0 6px;
    white-space: pre-wrap;
    background:#f3f3f3;
}
body, p {
    font-family: "Source Serif Pro", serif;
    line-height:140%;
}
p {
    margin-bottom:8px;
}
nav {
    overflow:hidden;
    position:absolute;
    width:@nav-width;
    min-height:100vh;
    background:#eee;
    padding-bottom:30px;
    header {
        width:129px;
        margin: 45px 40px;
    }
    h1 {
        text-align: right;
        font-size: 22px;
        padding:10px 3px 0 0;
        border:0;
    }
    h2 {
        text-align: center;
        border:1px solid #777;
        padding:5px 0 3px;
        margin:50px 11px 0;
        background:white;
        line-height:125%;
        word-spacing:-4px;
    }
    h3 {
        text-align: center;
        font-size: 20px;
        padding:13px 0;
        margin:30px 20px 18px 20px;
    }
    ul li {
        font-size:15px;
        a {
            margin-left:20px;
            display:block;
            padding: 8px 10px;
            color:#222;
            &:hover {
                background:#f8f8f8;
                text-decoration: none;
            }
            &.current {
                color: @current;
                background:white;
            }
        }
    }
}
#search input {
	box-sizing: border-box !important;
    width:100%;
    box-shadow: 0 0 0 1px #e0e0e0, 0 0 0 2px transparent;
    color: #555;
    border-radius: 1px;
    border: 0;
    outline: 0;
    padding: 10px 16px;
    font-size:17px;
    &:focus {
        border-color: #66afe9;
        border-radius: 2px;
        box-shadow: 0 0 8px #078dd8;
    }
}
.hidden {
    display:none;
}
main {
    padding:0 40px 20px 40px;
    max-width:960px;
    margin-left:@nav-width;

    h1, h2, h1 a, h1 i {
        font-size: 24px;
        padding:13px 0;
        margin:30px 0 18px;
    }
    h2 {
        font-size: 22px;
    }
    ul {
        margin:0 0 8px 30px;
        li {
            line-height:140%;
        }
    }
}
ul.table {
    display:table;
    margin:0;
    li {
        display: table-row;
        font-size: 16px;
        color:#222;

        >a, >p {
            padding: 8px 0;
            display:table-cell;
        }
        >a {
            padding-right: 20px;
        }
        a.cls:visited {
            color: @class-visited;
        }
    }
}
ul.search {
    display:table;
    margin:20px 0 0 0;
    a {
        display: table-row;
        color:black;
        text-decoration:none;
    }
    a:hover {
        background:#e7e7e7;
    }
    li {
        display: table-row-group;
        font-size: 16px;
        color:#222;
    }
    div, p {
        padding:2px;
        display:table-cell;
    }
    div {
        padding-right:30px;
    }
}
.match {
    background:#fef88f;
}


dt {
    display:block;
    padding: 2px;
    margin:25px 0 10px;
    font-weight:600;
    a {
        color:@function;
    }
}
dd {
    margin-left:20px;
}
li:target, dt:target {
    background: @active-bg;
}

.fn {
    color: @function;
}
.def {
    color: @define;
}

.cls, a.cls:hover, h1.cls i, .ccls i {
    color: @class;
}

.cns i, .ns {
    color: @ns;
}

.enum, a.enum:hover, .cenum i {
    color: @enum;
}

@media (max-width:650px) {
    nav {
        display:none;
    }
    main {
        margin:0;
        padding:0 20px 20px 20px;
    }
}

footer {
    text-align:center;
    padding:50px;
    color:#888;
}
