/* .c, .ch, .cm, .cpf, .c1 { color: #aaaaaa; font-style: italic } */
/* .cp { color: #4c8317 } /* Comment.Preproc */
/* .ge { font-style: italic } /* Generic.Emph */
/* .gh { color: #000080; font-weight: bold } /* Generic.Heading */
/* .gp { color: #555555 } /* Generic.Prompt */
/* .gs { font-weight: bold } /* Generic.Strong */
/* .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
/* .k, .cs, .kc, .kd, .kn, .kp, .kr, .ow, .ss { color: #8959A8 } */
/* .kt, .nb, .nn, .bp { color: #00aaaa } */
/* .na { color: #1e90ff } /* Name.Attribute */
/* .nc { color: #00aa00; text-decoration: underline } /* Name.Class */
/* .nd, .go { color: #888888 } */
/* .ni { color: #880000; font-weight: bold } /* Name.Entity */
/* .nt { color: #1e90ff; font-weight: bold } /* Name.Tag */
/* .w { color: #bbbbbb } /* Text.Whitespace */
/* .mb, .mf, .mh, .mi, .mo, .sr, .il, .m, /* { color: #009999 } Literals */
/* .sa, .sc, .dl, .sd, .s2, .se, .sh, .si, .sx, .s1, .s { color: #718C00 } */
/* .gi, .nf, .fm { color: #00aa00 } */
/* .gd, .gr, .gt, .no, .nv, .vc, .vg, .vi, .vm { color: #aa0000 } */
.kt { color: #00aaaa }
.k { color: #8959A8 }
.s { color: #718C00 }
.c { color: #aaaaaa; font-style: italic }
.cp { color: #4c8317 }
.na { color: #1e90ff }

code {
    font-family: "Ubuntu Mono", monospace;
}
pre {
    font-size:15px;
    line-height: 20px;
    margin-bottom:14px;
}
