h1 {
    font-family:"Francois One", sans-serif;
    font-size: 35px;
    line-height:50px;
    margin:30px 0 0;
}

li, p {
    font-family:"Open Sans", sans-serif;
    line-height:23px;
}

p {
    margin: 8px 0 16px 0;
}

main, nav {
    max-width:800px;
    margin:40px auto;
    padding:0 40px;
}

ul {
    margin:20px 0;
}

li {
    margin:7px 20px;
}

a {
    text-decoration: none;
    color:#548bd8;
    &:hover {
        text-decoration:underline;
    }
}

header {
    display:inline;
}
nav {
    ul {
        list-style-type:none;
        float:right;
    }
    li {
        float:left;
        display:block;
    }
    a {
        font:19px "Ubuntu Mono";
        line-height: 20px;
        text-decoration:none;
        color:#999;
        &:hover {
            text-decoration:underline;
            color:#548bd8;
        }
    }
}

pre {
    padding:10px 0;
}

footer {
    text-align:center;
    padding:50px;
    font:12px sans;
    color:#888;
}


@media (max-device-width: 480px), (max-width: 400px)  {
    nav ul {
        height: 20px;
        float:inherit;
        li {
            margin-left:0;
        }
    }
}
