@base:#fff;
@selected:#222;
@hover:#eee;

pre {
    border-radius:5px;
    padding:15px 20px;
    background:#222;
    color:#fff;
}

.tc {
	display:flex;
	position:relative;
    margin:20px 0 70px;
	
    label {
        touch-action: manipulation;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
    }
	
	input {
		opacity:0;
		display:none;
	}
	div {
        color:#aaa;
        font-family: sans-serif;
		font-size:15px;
		padding:4px 19.5px 0 19.5px;
        font-weight:500;
		cursor:pointer;
		line-height:40px;
        user-select: none;
        border-radius:5px 5px 0 0;

		&:hover {
            color:#555;
			background:@hover;
		}
	}
	input:checked + div {
		display:block;
        background:@selected;
        color:#fff;
        border-radius:5px 5px 0 0
	}
	input:checked + div pre {
		opacity:1;
		display:block;
	}
	pre {
		display:none;
		position:absolute;
		opacity:0;
		left:0;
        padding:0;
        width:100%;
        height:100%;
        margin-bottom:-40px;
    }
	pre code {
		position:absolute;
		top:0;
		cursor:text;
        user-select: initial;
        padding:10px 20px;
        background:@selected;
        width:100%;
        box-sizing: border-box;
        border-radius:0 5px 5px 5px;
        overflow:auto hidden;
        height:100%;
	}
}
.tc>pre {
    display:block;
    position:relative;
    padding-top:60px;
}
